*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --text-color: rgb(128, 128, 128);
}
.main-content{
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
/* nav-select */
.nav-select{
    display: flex;
    width: 90px; 
    padding: 0 5px;
}
.nav-select .nav-left{
    margin-top: 80px;
    display:block;
    text-align: center; 
}
.nav-select .nav-left .fa-house{
    font-size: 18px;
}
.nav-select .nav-left .fa-clapperboard{
    font-size: 18px;
}
.nav-select .nav-left .fa-square-youtube{
    font-size: 18px;
}
.nav-select .nav-left .fa-book{
    font-size: 18px;
}
.nav-select .nav-left .item-nav-home{
    margin-bottom: 30px;
}
.nav-select .nav-left .item-nav-home span{
    display: block;
    font-size: 10px;
    line-height: 23px;
}
.nav-select.open {
    /* position: relative;
    left: 0; */
    padding: 0 170px
}
/* main-content */
.main-content .tab-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
    background-color: #fff;
    position: f;
}
.main-content .tab-list li a{
    font-size: 14.5px;
    background-color: #e4e4e4;
    padding: 9px 9px;
    border-radius: 10px;
}
.main-content{
    margin-top: 80px;
    margin-left: 90px;
    position: absolute;
    z-index: -1;
}
.main-content .top-search{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.top-search .list-infor{
    width:80%;
}
.top-search .list-infor img{
    width: 100%;
    height: 150px;
    border-radius: 25px;
}
/* item-infor */
.list-infor .item-infor img{
    width: 35px;
    height: 35px;
}
.list-infor .image-box{
    position: relative;
}
.list-infor .image-box .text-time{
    position: absolute;   
    bottom: 0;
    right: 0;
    background-color: rgb(67, 66, 66);
    margin: 13px;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
}
.list-infor .item-infor{
    display: flex;
    margin-top: 15px;
}
.list-infor .item-infor h3{
    font-size: 16px;
}
.item-infor .item-title{
    padding-left: 15px;
    line-height: 22px;
} 
.item-infor .item-title .item-detail{
    color: var(--text-color);
    margin-top: 10px;
    line-height: 20px;
    font-size: 14px;
}
