*{
    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/* container-video */
.container-video{
    margin: 90px 80px;
}
.container-video .video-stream{
    display: flex;
}
.video-stream .main-video{
    width: 65%;
}
.video-stream .main-video iframe{
    width: 100%;
}
.main-video .title-video h3{
    font-size: 21px;
    line-height: 30px;
}
/* account */
.account {
    display: flex;
    margin-top: 10px;
}
.account img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.account .account-video{
    margin-left: 20px;
    line-height: 20px;
}
.account button{
    margin-left: 30px;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 15px;
}
/* toolbar */
.main-video .toolbar .votes{
    display: flex;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
}
.main-video .toolbar .votes span{
    position: absolute;
    margin-top: 20px;
    background-color: rgb(74, 73, 73);
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    font-size: 14.5px;
    display: none;
}
.main-video .toolbar .votes .dislikes span{
    margin-left: -60px;
}
/* toolbar-likes */
.main-video .toolbar .votes :hover span{
    display: block;
}
.main-video .toolbar .votes i{
    font-size: 20px;
}
.main-video .toolbar .votes p{
    padding: 10px 20px;
    border-right: 1px solid rgb(147, 145, 145);
}
.main-video .toolbar .votes :last-child p{
    border-right: none;
}
.main-video .toolbar {
    display: flex;
    margin-left: 120px;
    align-items: center;
}
/* toolbar-share */
.toolbar .share {
    margin-left: 10px;
    cursor: pointer;
}
.toolbar .share p{
    border-radius: 15px;
    background-color: #ccc;
    padding: 10px 15px;
}
.toolbar .share span{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(74, 73, 73);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    display: none;
}
.toolbar .share:hover span{
    display: block;
}
/* toolbar-more */
.toolbar .more{
    margin-left: 15px;
    background-color: #ccc;
    border-radius: 20px;
    padding: 10px 12px;
    cursor: pointer;
}
/* comment */
.comment {
    margin-top: 30px;
}
.comment .title-comment{
    display: flex;
}
.comment .title-comment #p{
    font-size: 19px;
    margin-right: 40px;
}
.comment .title-comment .fa-arrow-up-wide-short{
    font-size: 22px;
}
.comment .title-comment span{
    font-weight: 600;
    margin-left: 10px;
}
/* comment-account */
.comment-account{
    margin-top: 30px;
}
.comment-account img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.sub-comment{
    display: flex;
    height: 30px;
}
.comment-account .write-comment{
    margin-left: 30px;
    border-bottom: 1.5px solid #ccc;
    width: 100%;
}
/* content-comment */
.comment-account .content-comment{
    margin-top: 50px;
    display: flex;
}
.content-comment .item-comment{
    margin-left: 30px;
}
/* nav-comment */
.item-comment .nav-comment{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.item-comment .nav-comment i{
    padding: 8px;
    border-radius: 20px;
}
.item-comment .nav-comment i:hover{
    background-color: #ccc;
}
.item-comment .nav-comment i{
    font-size: 25px;
}
.item-comment .nav-comment #id1{
    padding: 8px;
    border-radius: 10px;
}
.item-comment .nav-comment #id1:hover{
    background-color: #ccc;
}
.item-comment .nav-comment #hover span{
    position: absolute;
    text-align: center;
    padding: 13px 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: -10px;
    color: #fff;
    background-color: rgb(67, 66, 66);
    transform: scale(1,0);
    margin-top: 10px;
}
.item-comment .nav-comment .dislike span{
    position: absolute;
    text-align: center;
    padding: 13px 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: -70px;
    color: #fff;
    background-color: rgb(67, 66, 66);
    transform: scale(1,0);
    margin-top: 50px;
}
.item-comment .nav-comment #hover:hover span{
    transform: scale(1,1);
}
.item-comment .nav-comment .dislike:hover span{
    transform: scale(1,1);
}
.item-comment .feedback{
    color: rgb(5, 5, 239);
    font-weight: 600;
    margin-top: 10px;
}
.item-comment .feedback p{
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}
.item-comment .feedback :hover{
    background-color: #ccc;
}
/* nav-video */
.nav-video{
    width: 35%;
    margin-left: 30px;
}
.nav-video .item-nav-video img{
    width: 190px;
    height: 105px;
    border-radius: 10px;
}
.item-nav-video .box-video #time{
    position: absolute;
    color: #fff;
    background-color: rgb(38, 38, 38);
    padding: 1px 3px;
    font-size: 15px;
    margin-top: -30px;
    margin-left: 145px;
    border-radius: 5px;
    z-index: -1;
}
.item-nav-video .box-video h4{
    font-size: 15px;
}
.item-nav-video .box-video{
    display: flex;
    margin-bottom: 5px;
}
.item-nav-video .box-video .title-box{
    margin-left: 10px;
}
/* nav-select */
.item-nav-video .nav-select{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.item-nav-video .nav-select li{
    background-color: rgb(240, 239, 239);
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
}