*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content {
    transform: translateY(-300px);
    margin: 0 200px;
}
.container .left-container .box_video{
    width: 80%;
    height: 70vh;
    margin-top: 0.5rem;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(17,75,114);   
}
.main-content .container .left-container .box_video .video{
    width: 100%;
    /* justify-content: center; */
    
    height: 30%;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #000;
}
.main-content .container .left-container .box_video .video img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.main-content .container .left-container .box_video .icon_dot{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
}
.main-content .container .left-container .box_video .bnt{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
}
.main-content .container .left-container .box_video .bnt button{
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 200px;
}
/* right-container */
.right-container{
    width: 80%;
}
.right-container .sub-right{
    width: 100%;
}
.right-container .sub-right .sort{
    display: flex;
}
.sub-right .sort span{
    font-weight: 600;
}
.sub-right .sort .fa-arrow-up-wide-short{
    margin-right: 10px;
    font-size: 20px;
}
/* lisst-video */
.list-video .item-box{
    width: 700px;
    display: flex;
    margin-top: 20px;
    padding:15px;
    border-radius: 10px;
}
.list-video .item-box:hover{
    background-color: #ccc;
}
.list-video .item-box .fa-equals{
    margin: auto 0 auto;
    padding-right: 20px;
}
.list-video .item-box .sub-item img{
    border-radius: 10px;
}